@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    margin: 0;
    background-color: rgba(30, 144, 255, 0.5);
    font-family: Roboto;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
input{
    text-decoration: none;
    outline: none;
    border: 0px;
    
}
h1{
    font-size: 64px;
    font-weight: 700;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}

.menu-wrap{
    visibility: hidden;
}
.navigation{
    position: fixed;
    display: grid;
    grid-template-columns: 50% 8% 11% 8% 12% 10%;
    align-items: center;
    width: 80%;
    height: 105px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
   
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 64px;
    padding-right: 64px;
    
}
.home{
    font-weight: 700;
}
.ill{
    font-weight: 500;
}
.disabled_btn{
    width: 127px;
    height: 50px;

    border: 2px solid #4443D0;
    font-weight: 700;
    background-color: white;
    color: #4443D0;
   
}
.enabled_btn{
    width: 127px;
    height: 50px;

    border: 2px solid #4443D0;
    background-color: #4443D0;
    color: white;
    
}
.head_block{
    display: grid;
    grid-template-columns: 49% 1%;
    margin-left: 5%;
    align-items: center;
}
.content{
    display: grid;
    grid-template-rows: 200px 100px 80px; 
    margin-top: 25%;
}
.content_h3{
    font-weight: 400;
    width: 500px;
}
.content_join{
    color: rgba(0, 0, 0, 0.5);;
    font-weight: 400;
}
.saly{
    width: 655px;
    height: auto;
    transform: rotate(-15.51deg);
}
form{
    display: grid;
    align-items: center;
    grid-template-rows: 0 128px;
}
.email{
    border-radius: 10px;
    box-shadow: none;
    font-family: Roboto;
    width: 472px;
    height: 50px;
}
::placeholder{
    padding-left: 22px;
}
input:focus::placeholder {
    color: transparent;
  }

.submit_btn{
    width: 127px;
    height: 50px;
    background-color: #4140CD;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    border-radius: 5px;
}

/* menu hamburger */
i{
    visibility: hidden;
    width: 30px;
    height: 30px;
}
.hamburger {
    visibility: hidden;
    z-index: 100;
    top: 2rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    visibility: hidden;
    width: 1%;
    transform: translateY(-113%);
    transition: transform 0.2s;
    top: 0;
    right: 6rem;
    padding-right: 16%;
    padding-top: 2%;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
  }
  .menu_disabled{
    visibility: hidden;
  }
  .menuItem{
    color: white;
  }
  .showMenu {
    transform: translateY(0);
  }

/* menu hamburger */


/* responsive start */
@media (max-width:1343px) {
    .navigation{
        grid-template-columns: 45% 8% 11% 8% 15% 10%;
    }
}
@media (max-width:1259px) {
    h1{
        font-size: 54px;
    }
    h3{
        font-size: 22px;
    }
    .content{
        grid-template-rows: 160px 90px 80px;
    }

}
@media (max-width:1101px) {
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 20px;
    }
    .navigation{
        grid-template-columns: 35% 10% 14% 9% 18% 15%;
    }
    .saly{
        zoom: 80%;
    }
}

@media (max-width:941px) {
   
    h1{
        font-size: 46px;
    }
    h3{
        font-size: 18px;
    }
    .navigation{
        grid-template-columns: 25% 10% 15% 20% 18% 15%;
        margin-left: 3%;
    }
    .saly{
        zoom: 70%;
    }
}

@media (max-width:818px) {
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 18px;
    }
    .navigation{
        grid-template-columns: 20% 10% 18% 12% 25% 15%;
        margin-left: 2%;
    }
    .content{
        text-align: left;
        margin-right: 5%;
        margin-top: 20%;
        margin-left: 10%;
        width: 400px;
        grid-template-rows: 140px 50px 100px 100px;
        justify-content: center;
    }
   
    .head_block{
        grid-template-columns: auto;
      
    }
    .saly{
        zoom: 80%;
        margin-left: 5%;
    }
}
@media (max-width: 717px) {
   
   .logo{
       position: fixed;
       
   }
    .navigation{
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }
    .content{
        margin-left: 10%;
    }
    .home{
        visibility: hidden;
    }
    .ill{
        visibility: hidden;
    }
    .disabled_btn{
        visibility: hidden;
    }    
    .enabled_btn{
        visibility: hidden;
    }
    i{
        visibility: visible;
    }
    .hamburger{
        position: fixed;
        visibility: visible;
        margin-left: 75%;
        margin-top: 1%;
    }
  
    .menu{
        position: fixed;
        visibility: visible;
        background-color: #006699;
        border-radius: 10px;
        height: 7rem;
        left: 69%;
    }
    .menuItem{
        color: white;
        }
    .saly{
        margin-left: 1%;
        zoom: 80%;
    }
    
}
@media (max-width: 573px) {
    
    .hamburger{
        right: 4rem;
    }
}
@media (max-width: 545px) {
   
    .hamburger{
        position: fixed;
    }
}